<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link type="text/css" rel="stylesheet" href="stylesheets/blog.css">
<title>Insert title here</title>
</head>
<body>

	<form method="post">
			<label>
				<div class="blog-title">Courier ID</div>
				<input type="number" name="id" value="{{title}}">
			</label>
			<label>
				<div class="blog-title">Latitude</div>
				<input name="lat" type='number' value="{{lat}}">
			</label>
			<label>
				<div class="blog-title">Longitude</div>
				<input name="lon" type='number' value="{{lon}}">
			</label>
			<br>
			<input type="submit">
	</form>
	<div class="error">{{error}}</div>
</body>
</html>