<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link type="text/css" rel="stylesheet" href="/stylesheets/blog.css">
<title>Insert title here</title>
</head>
<body>
<h2>Offline couriers</h2>
<hr>
		{% for courier in couriers%}
			<label>Courier Id</label>
			<div class="blog-title">{{courier.courierId}}</div>
			<label>Order Id</label>
			<pre class="blog-body">{{courier.orderId}}</pre>
			<hr>
		{% endfor %}
</body>
</html>