<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link type="text/css" rel="stylesheet" href="stylesheets/blog.css">
<title>Insert title here</title>
</head>
<body>

<form method="post">
			<label>
				<div>Order ID</div>
				<input type="number" name="id" value="{{id}}">
			</label>
			<label>
				<div>Pickup Latitude</div>
				<input name="plat" type='number' value="{{plat}}">
			</label>
			<label>
				<div>Pickup Longitude</div>
				<input name="plon" type='number' value="{{plon}}">
			</label>
			<label>
				<div>Delivery Longitude</div>
				<input name="dlat" type='number' value="{{dlat}}">
			</label>
			<label>
				<div>Delivery Longitude</div>
				<input name="dlon" type='number' value="{{dlon}}">
			</label>
			<br>
			<input type="submit">
		</form>
		<div class="error">{{error}}</div>
</body>
</html>